<% if (title) { %>
<div id="loggedin">
    <h1>
        <%= title %>
    </h1>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
            <% }) %>
        </ul>
    <% } %>
    <h3>Welcome <%= locals.accountData.account_firstname %></h3>
    <p>You're logged in</p>
    <p><a href="/update/<%= locals.accountData.account_id %>" title="Update Account Information">Edit Account Information</a></p>
    <% if (locals.accountData.account_type == "Employee" || locals.accountData.account_type == "Admin") { %>
        <h3>Inventory Management</h3>
        <a href="/inv">Manage Inventory</a>
    <% } %>
</div>
<% } else { %>
    <% res.redirect('/') %>
<% } %>